.notes {
  margin-top: 120px;
  border-radius: 20px 20px 0 0;
}
.notes h5 {
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  background: #ffec9d;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.notes_list {
  background: #fdfaf5;
  padding: 40px;
  line-height: 32px;
  margin-bottom: 60px;
}
.notes_list h6 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.sm_list {
  border-radius: 20px 20px 0px 0px;
}
.sm_list h5 {
  border-radius: 20px 20px 0px 0px;
  background: #4ecbd3;
  color: #fff;
  padding: 12px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.sm_list ul {
  padding: 32px;
  background: rgba(215, 244, 247, 0.5);
}
.sm_list ul li {
  margin-bottom: 20px;
  text-align: justify;
}
.smText {
  line-height: 30px;
  letter-spacing: normal;
}
.booking_button {
  margin-top: 68px;
  border-radius: 50px;
  background: #4ecbd3;
  font-weight: 700;
  font-size: 20px;
}
.booking_items {
  display: flex;
  gap: 32px;
}
