.googleMap {
  margin: 100px auto 220px;
}
.contentH2 {
  font-size: 30px;
  font-weight: 500;
  margin: 80px auto 0;
  text-align: center;
  border-bottom: 1px solid #333;
  color: #4ecbd3;
}
.contentH2 span {
  color: #333;
  font-family: "Montserrat";
  margin-left: 50px;
}
.traffic_box {
  margin-top: 150px;
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
.traffic {
  display: flex;
  align-items: flex-start;
}
.traffic h6 {
  font-weight: 500;
  background-color: #4ecbd3;
  color: #fff;
  text-align: center;
  padding: 2px 12px;
  border-radius: 30px;
  width: 70px;
  margin-bottom: 20px;
}

.traffic img {
  margin-right: 50px;
}
