.indexH2 {
  font-size: 44px;
  line-height: 1.5;
  margin-bottom: 45px;
}
.indexH3 {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 32px;
}
.banner svg {
  /* max-width: 1392.79px; */
  margin: 0 auto 323px;
}
.banner_text {
  font-weight: 700;
  letter-spacing: 13px;
  font-size: 44px;
  writing-mode: vertical-rl;
  position: absolute;
  z-index: 30;
}
.fir_text {
  height: 600px;
  font-weight: 700;
  letter-spacing: 15px;
  font-size: 44px;
  writing-mode: vertical-rl;
  position: absolute;
  z-index: 30;
  top: 680px;
  left: 370px;
}
.sec_text {
  height: 600px;
  font-weight: 700;
  letter-spacing: 15px;
  font-size: 44px;
  writing-mode: vertical-rl;
  position: absolute;
  z-index: 30;
  top: 680px;
  left: 290px;
}
.grayLogo {
  position: absolute;
  left: 179px;
  top: 943px;
}
/* -------- 關於我們 -------- */
.aboutBox {
  max-width: 1200px;
  margin: 168px auto 250px;
  display: flex;
  align-items: center;
  gap: 128px;
  position: relative;
}
.aboutBoxText {
  width: 522px;
  display: flex;
  flex-direction: column;
}
.aboutBox h4 {
  font-size: 20px;
  font-weight: bold;
}
.aboutBox P {
  margin-bottom: 45px;
  text-align: justify;
}
.viewMore {
  display: flex;
  align-items: center;
}
.viewMoreText {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  margin-right: 20px;
}

/* -------- 診療項目 -------- */
.medical {
  display: flex;
  margin-bottom: 250px;
}
.medical_imgWrapper {
  /* width: 50vw; */
  min-width: 500px;
  background-color: #e5ebea;
  border-radius: 0 12px 280px 0;
  margin-right: 70px;
}
.medical_textWrapper {
  width: 100%;
  background-color: #e5ebea;
  border-radius: 12px 0 0 280px;
  /* padding: 160px 250px; */
}
.medical_items {
  max-width: 734px;
  margin: 160px 0 160px 300px;
}
.medical_items h2 {
  margin-bottom: 64px;
}

.itemsbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.itemsbox li {
  width: 216px;
  height: 216px;
  background-color: #fff;
  margin-bottom: 44px;
  border-radius: 20px;
  text-align: center;
}
.itemsbox li:hover {
  opacity: 0.8;
}
.itemsbox li a {
  color: #333;
  font-size: 20px;
  font-weight: bold;
}
.itemsbox li a img {
  margin: 0 auto;
  padding: 40px 40px 24px;
}

/* -------- 更多消息 -------- */
.news {
  width: 820px;
  margin: 130px auto 250px;
}
.news .viewMore {
  margin: 17px 0 10px;
  justify-content: flex-end;
}
.information-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e1e4e6;
  padding: 32px 0;
}
.information-list:last-child {
  border-bottom: 1px solid #e1e4e6;
}
.information_text {
  max-width: 500px;
}
.information_text .date {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.information_text .category {
  padding: 0 21px 2px;
  margin-left: 20px;
  font-size: 14px;
  border-radius: 11px;
  font-weight: bold;
  background: #f1f1f1;
}

.information_text h6 {
  font-weight: bold;
  margin-top: 10px;
  text-align: justify;
}
.information_text p {
  font-size: 14px;
}
/* bg_text */
.bgText {
  position: absolute;
  right: 0;
}
.bg_about {
  top: 1300px;
  z-index: -10;
}
.bg_service {
  top: 2250px;
  opacity: 0.8;
  z-index: 1;
}
.bg_pattern {
  width: 500px;
  left: 0;
  top: 2450px;
}
.bg_information {
  top: 4080px;
  z-index: -10;
}
.bg_circle {
  left: 0;
  top: 4750px;
  z-index: -10;
}
