/* .hosTitle img {
  margin-bottom: 125px;
} */
.medicalH2 {
  margin-bottom: 125px;
}
.doctor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.boss {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.bossPic {
  background-repeat: 32px;
  margin-bottom: 40px;
}
.doctor > .boss > img {
  margin-bottom: 0;
}
.boss_text {
  width: 450px;
}
.boss_text h6 {
  font-weight: 300;
}
.boss_text p {
  border-top: 1px solid #d9d9d9;
  padding-top: 15px;
}
.nameTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.nameTitle + p {
  padding-bottom: 15px;
}

.hospitalPic {
  border-radius: 32px;
  margin-bottom: 20px;
}
.hospitalPic:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}

.hospital {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px;
}
.pic_list p {
  text-align: center;
  font-size: 20px;
}

/* .nav_text li {
  position: relative;
}
.nav_text li a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 20px 0;
}
.nav_text li a:before {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #333;
  transition: all 0.5s;
}

.nav_text li a:hover:before {
  width: 100%;
} */
